In [5]:
import pandas as pd
df = pd.read_csv(r"C:\Users\xorn1\OneDrive\Desktop\Clone\wine-reviews-exercise-Dustinlee87\data\winemag-data-130k-v2.csv\winemag-data-130k-v2.csv")
df.drop(columns=['Unnamed: 0', 'description', 'designation', 'price', 'province', 'region_1', 'region_2', 'taster_name', 'taster_twitter_handle', 'title', 'variety', 'winery'], inplace=True)
df['count'] = df.groupby('country')['country'].transform('count')
df_2 = df.drop_duplicates(subset='country', keep='first')
df_2

                       country  points    count
0                        Italy      87  19540.0
1                     Portugal      87   5691.0
2                           US      87  54504.0
5                        Spain      87   6645.0
7                       France      87  22093.0
8                      Germany      87   2165.0
16                   Argentina      87   3800.0
36                       Chile      86   4472.0
77                   Australia      86   2329.0
93                     Austria      88   3345.0
125               South Africa      91   1401.0
174                New Zealand      88   1419.0
202                     Israel      90    505.0
219                    Hungary      90    146.0
271                     Greece      89    466.0
306                    Romania      87    120.0
378                     Mexico      88     70.0
454                     Canada      92    257.0
913                        NaN      87      NaN
1187                    Turkey      88     90.0
2272            Czech Republic      85     12.0
2292                  Slovenia      84     87.0
3576                Luxembourg      89      6.0
4007                   Croatia      88     73.0
4048                   Georgia      88     86.0
4051                   Uruguay      88    109.0
4073                   England      90     74.0
4896                   Lebanon      91     35.0
5085                    Serbia      87     12.0
5852                    Brazil      88     52.0
5996                   Moldova      87     59.0
6008                   Morocco      90     28.0
6565                      Peru      85     16.0
6673                     India      93      9.0
6970                  Bulgaria      86    141.0
7568                    Cyprus      85     11.0
8170                   Armenia      87      2.0
14187              Switzerland      90      7.0
16467   Bosnia and Herzegovina      85      2.0
19530                  Ukraine      83     14.0
22687                 Slovakia      87      1.0
25466                Macedonia      88     12.0
109989                   China      89      1.0
110246                   Egypt      84      1.0